@page
@using WebMVCrazorpages; 

<div class="row">
    @for (int i = 0; i < 2; i++)
    {
        for (int j = 0; j < 3; j++)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="https://store.car.org/cdn/shop/files/SFB_July_2024.png?v=1723523056&width=1920" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">Book name @(i * 3 + j + 1)</h5>
                        <p class="card-text">This is a description for the book name @(i * 3 + j + 1).</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>